.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  border-radius: 12px;

  // Gray ish Glassy background
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;

  color: #000;

  // Make sure the text is not selectable.
  user-select: none;

  text-align: center;

  font-size: xx-large;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }
}

.removeButton {
  // Remove the default button styles
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
